<%- include ../partials/header.ejs %>
<div class="splash-container">
  <img class="pure-img" src="<%= city.image %>" alt="city-image">
  <div class="splash">
    <h1 class="splash-head"><%= city.name %></h1>
    <p class="splash-subhead">
      Explore new places in the world and in yourself.
    </p>
    <p class="splash-subhead"><i>Roam free.</i></p>
    <p><% if (isLoggedIn) {%>
    <form action="/newpost/<%= city.id %>">
      <button class="pure-button pure-button-primary" type="Submit" name="new_post_button">New Post</button>
    </form>
    <%}%></p>
  </div>
</div>
<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Posts to Read...</h2>

    <div class="pure-g">
      <% posts.forEach(function(post) { %>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

        <h3 class="content-subhead">
                      <i class="fa fa-heart"></i>
                      <a href="/show/<%= post.id %>"><%= post.title %></a>
                  </h3>
      </div>
      <% }) %>
    </div>
  </div>

  <div class="footer l-box is-center">
    This web app was made with much love and light via some kickass babes: <a href="https://github.com/NoCodingGenius" >LaToya Williams</a> and <a href="https://github.com/alexandrawaite">Alex Waite</a>. View the source code: <a href="https://github.com/alexandrawaite/roam">HERE</a>
  </div>

</div>

<%- include ../partials/footer.ejs %>
