<%- include ../partials/header.ejs %>
    </div>
    <div>
      <img class="main-image" src="<%= city.image %>">
      <form class="new-post-button" action="/newpost/<%= city.id %>">
        <input type="Submit" name="new_post_button" value="New Post">
      </form>
    </div>
    <div>
      <% posts.forEach(function(post) { %>
        <ul>
          <li><a href="/show/<%= post.id %>"><%= post.title %></a></li>
        </ul>
      <% }) %>
    </div>
  </body>
</html>
