<%- include ../partials/header.ejs %>
  <div class="splash-container">
    <img class="pure-img" src="https://images.pexels.com/photos/248159/pexels-photo-248159.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt="roam-image">
    <div class="splash">
      <h1 class="splash-head">Roam</h1>
      <p class="splash-subhead">
        Explore new places in the world and in yourself.
      </p>
      <p class="splash-subhead"><i>Roam free.</i></p>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content">
      <h2 class="content-head is-center">Cities to Adventure...</h2>

      <div class="pure-g">
        <% cities.forEach(function(city) {%>
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

            <h3 class="content-subhead">
                        <i class="fa fa-map-marker"></i>
                        <a href="/cities/<%= city.id %>"><%= city.name %></a>
                    </h3>
            <p>
              <%= city.description %>
            </p>
          </div>
          <% }) %>
      </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
      <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <img width="300" alt="Roam Icon" class="pure-img-responsive" src="/roam.png">
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

        <h2 class="content-head content-head-ribbon">Join our tribe and leave a review!</h2>

        <p>
          “We leave something of ourselves behind when we leave a place, we stay there, even though we go away. And there are things in us that we can find again only by going back there.” ― Pascal Mercier, Night Train to Lisbon
        </p>
        <p>
          “We travel, some of us forever, to seek other places, other lives, other souls.” – Anais Nin
        </p>
        <p>
          “Broad, wholesome, charitable views of men and things cannot be acquired by vegetating in one little corner of the earth all of one’s lifetime.” – Mark Twain
        </p>
      </div>
    </div>

    <div class="footer l-box is-center">
      This web app was made with much love and light via some kickass babes: <a href="https://github.com/NoCodingGenius">LaToya Williams</a> and <a href="https://github.com/alexandrawaite">Alex Waite</a>. View the source code: <a href="https://github.com/alexandrawaite/roam">HERE</a>
    </div>

  </div>
  <%- include ../partials/footer.ejs %>
