<%- include ../partials/header.ejs %>
  <div class="flex-container">
    <div class="profile-section">
      <img class="profile-image" src="http://via.placeholder.com/150x150">
      <p>Name: <%= user.full_name %> </p>
      <p>Date Joined: <%= user.join_date %> </p>
      <p>Current City: <%= user.current_city %> </p>
      <form action="/user/update/<%= user.id %>">
        <button class="pure-button pure-button-primary" type="Submit" name="edit-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
      </form>
      <form action="/profile/public/<%= user.id %>">
        <button class="pure-button pure-button-primary" type="Submit" name="edit-button">Public Profile</button>
      </form>
    </div>
    <section class="post-section">
    <% posts.forEach(function(post) {%>
      <p><a class="post-title" href="/show/<%= post.id %>"><%= post.title %></a></p>
        <form action="/post/update/<%= post.id %>">
          <button class="pure-button pure-button-primary" type="Submit" name="edit-button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
        </form>
        <form action="/post/delete/<%= post.id %>?_method=DELETE" method="POST">
          <button class="pure-button pure-button-primary" type="Submit" name="delete-button">          <i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </form>
    <% }) %>
    </section>
</div>

<%- include ../partials/footer.ejs %>
