<%- include ../partials/header.ejs %>
  <div class="flex-container">
    <div>
      <img class="public-profile-image" src="http://via.placeholder.com/150x150">
      <p>Name: <%= user.full_name %> </p>
      <p>Date Joined:<%= user.date_joined %> </p>
      <p>Current City:<%= user.current_city %> </p>
      <input type="Submit" name="edit_profile" value="Edit Profile">
    </div>
    <section>

      <p>Title: <%= post.title %> </p>
      <p>Body: <%= post.body %> </p>

      <input class="flex-item" type="Submit" name="edit_post" value="Edit Post">
      <input class="flex-item" type="Submit" name="delete_post" value="Delete Post">

      <p>Title: Goodbye World!</p>
      <p>Body: <%= post.body %> </p>
      <input class="flex-item" type="Submit" name="edit_post" value="Edit Post">
      <input class="flex-item" type="Submit" name="delete_post" value="Delete Post">

    </section>
</div>
  </body>
</html>
