<%- include ../partials/header.ejs %>

  <div class="flex-container">
    <div>
      <img class="profile-image" src="https://cdn.dribbble.com/users/220527/screenshots/1376137/avatars.png">
      <p name:"name">Name: <%= user.full_name %> </p>
      <p name:"dateJoined">Date Joined: <%= user.join_date %> </p>
      <p name:"currentCity">Current City: <%= user.current_city %> </p>
    </div>
    <section>

    <% posts.forEach(function(post) {%>
      <ul>
        <li><a href="/show/<%= post.id %>"><%= post.title %></a></li>
      </ul>
    <% }) %>

    </section>
</div>
  </body>
</html>
