<%- include ../partials/header.ejs %>
  <br>
  <br>
  <br>
  <div class="flex-container">
    <div class="profile-section">
      <img class="profile-image" src="http://via.placeholder.com/150x150">
      <p name: "name"><b>Name:</b>
        <%= user.full_name %>
      </p>
      <p name: "dateJoined"><b>Date Joined:</b>
        <%= user.join_date %>
      </p>
      <p name: "currentCity"><b>Current City:</b>
        <%= user.current_city %>
      </p>
    </div>

    <section class="post-section">
      <h1>Posts</h1>
      <% posts.forEach(function(post) {%>
        <span>
        <ul>
          <li><a href="/show/<%= post.id %>"><%= post.title %></a></li>
        </ul>
      </span>
        <% }) %>
    </section>
  </div>
  <%- include ../partials/footer.ejs %>
